div{text-align: right;}
div>b>a{text-decoration:none;
    font-size:17,5px;
color:#dda0dd}
body{background-color:#000921;}
*{color:#e9e3ce}
h1{text-align: center;
font-size:60px;
font-family: 'Gill Sans';}
p{font-size: 26px;
text-align: center;}
img{margin-top: 10px;
margin-left: 50%; }

