nav>a{
text-align-last: right;}
*{
color:#4c3d6d;
text-align: end;}
h1{text-align:center;
font-size: 45px;
font-family: 'Times New Roman';}
p{text-align:center;
    font-size: 25px;
font-family: monospace;}

img
